<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>CBS</title>
</head>
<body ng-app="myApp" ng-controller="BaojhqysController">
<div class="panel panel-default">
  <div class="panel-heading">查询</div>
  	<div class="table-responsive">
  		<table class="table table-striped  "  >
		<thead>
		<tr>			
			<th>交易品种</th>
			<th>报价机构</th>
			<th>币种</th>
			<th>交易方向</th>
			<th>交易金额</th>
			<th>利率</th>
			<th>计息基准</th>
			<th>期限</th>
			<th>起息日</th>
			<th>到期日</th>
			<th>利息</th>
			<th>到期还款金额</th>
			<th>发布时间</th>
		</tr>
	</thead>
	<tbody >
		<tr ng-repeat="x in names">
			<td>			 			
			<label class="radio-inline">
				<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
			</label>
			</td>					 			
			<td>{{x.fName}}</td>
			<td>{{x.lName}}</td>
			<td>{{x.fName}}</td>
			<td>{{x.lName}}</td>
			<td>{{x.fName}}</td>
			<td>{{x.lName}}</td>
			<td>{{x.fName}}</td>
			<td>{{x.lName}}</td>
			<td>{{x.fName}}</td>
			<td>{{x.lName}}</td>
			<td>{{x.fName}}</td>
			<td>{{x.lName}}</td>
			<td>{{x.fName}}</td>
		</tr>		
	</tbody>
	</table>
	</div>
</div>
<!--paging  -->
<ul class="pagination" style="margin: 0px;" >  
    <li ng-class="{true:'disabled'}[p_current==1]"><a href="javascript:void(0);" ng-click="p_index()">首页</a></li>  
    <li ng-repeat="page in pages" ng-class="{true:'active'}[p_current==page]"><a href="javascript:void(0);" ng-click="load_page(page)">{{ page }}</a></li>  
    <li ng-class="{true:'disabled'}[p_current==p_all_page]"><a href="javascript:void(0);" ng-click="p_last()">尾页</a></li> 
</ul>  
<span style="vertical-align: 12px;">  共：{{count}} 条</span> 
<script type="text/javascript">
$(function(){
	init();
});  


//页面初始化
function init() {
	var $dateDiv = $('.input-group.date');
	$dateDiv.datepicker({
		format: "yyyy-mm-dd",
		weekStart: 1,
		clearBtn: true,
		language: "zh-CN",
		autoclose: true,
		todayHighlight: true
	});
}		
</script>
</body>
</html>